[submodule "vendor/pokemon-showdown"]
	path = vendor/pokemon-showdown
	url = https://github.com/smogon/pokemon-showdown.git
[submodule "vendor/pokemon-showdown-client"]
	path = vendor/pokemon-showdown-client
	url = https://github.com/smogon/pokemon-showdown-client.git
