{
  "extends": "@pkmn",
  "overrides": [
    {
      "files": [
        "./src/letsgo/*.ts",
        "./src/stadium/*.ts",
        "./src/vgc17/*.ts",
        "./src/vgc20/*.ts"
      ],
      "rules": {
        "@typescript-eslint/quotes": "off",
        "@typescript-eslint/indent": ["error", "tab", {"flatTernaryExpressions": true}],
        "@typescript-eslint/no-unused-vars": "off",
        "max-len": "off"
      }
    }
  ]
}