{
  "extends": "@pkmn",
  "root": true,
  "overrides": [{
    "files": ["**/*.ts"],
    "rules": {
      "@typescript-eslint/no-shadow": "off",
      "@typescript-eslint/no-floating-promises": ["error", {"ignoreVoid": true}],
      "@typescript-eslint/no-unused-vars": "off",
      "@typescript-eslint/no-parameter-properties": "off"
    }
  }]
}
